[Unit]
Description=Limit Usage Xray Service
Documentation=xlord
After=syslog.target network-online.target

[Service]
User=root
NoNewPrivileges=true
ExecStart=/etc/limit/vless/

[Install]
WantedBy=multi-user.target
